.stat-card {
  width: 180px;
  height: 220px;
  box-shadow: 0 2px 5px 2px rgba(128, 128, 128, 0.15);
  border-radius: 10px;
  padding: 20px 0 0 30px;
}

.stat-info {
  margin-top: 30px;
  line-height: 40px;
}

.stat-num {
  font-size: 50px;
  margin: 0;
}

.stat-name {
  margin: 0;
  font-size: 16px;
  color: grey;
}

.positive .rates {
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: green;
  background-color: #dfffea;
  width: 55px;
}

.negative .rates {
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: red;
  background-color: rgba(242, 38, 19, 0.1);
  width: 55px;
}
